﻿@foreach (var flash in TempData.GetFlashes())
{
    switch (flash.Type)
    {
        case CLAM.Models.View.Shared.FlashType.Success:
            <div class="alert alert-success">@flash.Message</div>
            break;
        case CLAM.Models.View.Shared.FlashType.Warning:
            <div class="alert alert-warning">@flash.Message</div>
            break;
        case CLAM.Models.View.Shared.FlashType.Error:
            <div class="alert alert-danger">@flash.Message</div>
            break;
    }
}
