﻿@{
    var title = ViewBag?.Title ?? "Unknown page";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CLAM - @title</title>

    <link href="~/bundle.min.css" rel="stylesheet" asp-append-version="true">
    <script src="~/bundle.min.js" asp-append-version="true"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">CLAM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Clas" asp-action="Index">CLAs</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Account</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Logout</a>
                        }
                        else
                        {
                            <a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Register">Register</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container my-3">
        <partial name="_Flashes.cshtml">
            <div class="card">
                <div class="card-header">@title</div>
                <div class="card-body">
                    @RenderBody()
                </div>
                <div class="card-footer text-center text-muted">
                    CLAM
                </div>
            </div>
    </main>
</body>
</html>
