@model CLAM.Models.View.Account.Login
@{ 
    ViewBag.Title = "Login";
}
@if (Model?.Unverified == true)
{
    <div class="alert alert-warning">
        Your account hasn't been verified yet.
        You can <a asp-action="VerifyResend" asp-route-email="@Model.Email">resend the verification email</a>.
    </div>
}
<form method="post" asp-controller="Account" asp-action="Login">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input asp-for="RememberMe" class="custom-control-input">
            <label asp-for="RememberMe" class="custom-control-label"></label>
        </div>
    </div>
    <input asp-for="ReturnUrl">
    <button class="btn btn-primary">Login</button>
</form>
