﻿@model CLAM.Models.View.Signers.Index
@{ 
    ViewBag.Title = "Signers";
}
@if (Model.Signers.Count == 0)
{
    <div class="alert alert-warning mb-0">
        No signers have been created yet.
    </div>
}
else
{
    <div class="list-group">
        @foreach (var signer in Model.Signers)
        {
            @if (signer.SignedAt.HasValue)
            {
                <a class="list-group-item list-group-item-action" asp-action="Show" asp-route-id="@signer.Id">@signer.Name <@signer.Email></a>
            }
            else
            {
                <a class="list-group-item list-group-item-action list-group-item-warning" asp-action="Show" asp-route-id="@signer.Id">@signer.Name <@signer.Email></a>
            }
        }
    </div>
}
