﻿@model CLAM.Models.View.Signers.Show
@{
    ViewBag.Title = "Show signer";
}
<div class="form-group">
    <label asp-for="Email"></label>
    <input class="form-control" asp-for="Email" readonly>
</div>
<div class="form-group">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" readonly>
</div>
<div class="form-group">
    <label asp-for="Address"></label>
    <input class="form-control" asp-for="Address" readonly>
</div>
<div class="form-group">
    <label asp-for="SignedAt"></label>
    <input class="form-control" asp-for="SignedAt" readonly>
</div>
