﻿@model CLAM.Models.View.Clas.Edit
@{
    ViewBag.Title = "Edit CLA";
}
<form method="post" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ApiKey"></label>
        <input class="form-control" asp-for="ApiKey">
        <span asp-validation-for="ApiKey" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Edit</button>
</form>
