﻿@model CLAM.Models.View.Clas.Index
@{
    ViewBag.Title = "CLAs";
}
@if (Model.Clas.Count == 0)
{
    <div class="alert alert-warning">
        No CLAs have been created yet.
    </div>
}
else
{
    <div class="list-group mb-3">
        @foreach (var cla in Model.Clas)
        {
            <a class="list-group-item list-group-item-action" asp-action="Show" asp-route-id="@cla.Id">@cla.Name</a>
        }
    </div>
}
<a class="btn btn-primary" asp-action="Create">Create</a>
