﻿@model CLAM.Models.View.Clas.Show
@{
    ViewBag.Title = "Show CLA";
}
<div class="form-group">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" readonly>
</div>
<div class="form-group">
    <label asp-for="ApiKey"></label>
    <input class="form-control" asp-for="ApiKey" readonly>
</div>
<div class="form-group">
    <label asp-for="Secret"></label>
    <input class="form-control" asp-for="Secret" readonly>
</div>
<div class="form-group">
    <label asp-for="WebhookUrl"></label>
    <input class="form-control" asp-for="WebhookUrl" readonly>
</div>
<a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<a class="btn btn-outline-primary" asp-controller="Revisions" asp-action="Index" asp-route-claid="@Model.Id">Revisions</a>
