﻿@model CLAM.Models.View.Revisions.Create
@{
    ViewBag.Title = "Create revision";
}
<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Text"></label>
        <textarea class="form-control" asp-for="Text"></textarea>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input" asp-for="RequireAddress">
            <label class="custom-control-label" asp-for="RequireAddress"></label>
        </div>
    </div>
    <button class="btn btn-primary">Create</button>
</form>
