﻿@model CLAM.Models.View.Revisions.Index
@{
    ViewBag.Title = "Revisions";
}
@if (Model.Revisions.Count == 0)
{
    <div class="alert alert-warning">
        No revisions have been created yet.
    </div>
}
else
{
    <div class="list-group mb-3">
        @foreach (var revision in Model.Revisions)
        {
            <a class="list-group-item list-group-item-action" asp-action="Show" asp-route-id="@revision.Id">Revision @revision.Number</a>
        }
    </div>
}
<a class="btn btn-primary" asp-action="Create">Create</a>
