﻿@model CLAM.Models.View.Revisions.Show
@{
    ViewBag.Title = "Show revision";
}
<div class="form-group">
    <label asp-for="Number"></label>
    <input class="form-control" asp-for="Number" readonly>
</div>
<div class="form-group">
    <label asp-for="Text"></label>
    <textarea class="form-control" asp-for="Text" readonly></textarea>
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input" asp-for="RequireAddress" readonly>
        <label class="custom-control-label" asp-for="RequireAddress"></label>
    </div>
</div>
<a class="btn btn-outline-primary" asp-controller="Signers" asp-action="Index" asp-route-claid="@Model.ClaId" asp-route-revisionid="@Model.Id">Signers</a>
